/* BODY */

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #71C9CE;
  margin-left: auto 100px auto 100px;
  text-decoration: none;
}

p {
  color: #40514E;
}

hr {
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}

/* ONGLETS */
.ongletsBody {
  background-color: #EAF6F6;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  position: relative;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 10px;
}

.myProfilOnglet {
  position: absolute;
  bottom: 5px;
  left: 80px;
  border-radius: 50%;
  width: 5%;
}

.linkOnglet {
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}



/* DIVHEAD */

.divHeadBody {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
  bottom: 650px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 315px;
}

/* END DIVHEAD */

/* DIVMIDBODY */

.divMidBody {
  position: relative;
  padding-top: 100px;
  background-color: white;
}

.profile {
  margin: auto 100px auto 100px;
  line-height: 2;
}

.myProfil {
  border-radius: 50%;
}

.skill-row {
  text-align: left;
  line-height: 2;
  margin: auto 100px auto 100px;
  padding-bottom: 20px;
}

.imgComputer {
  width: 10%;
  float: left;
  margin-right: 30px;
}

.imgWeb {
  width: 10%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  margin: auto 100px auto 100px;
  line-height: 2;
}

.contactText {
  margin-bottom: 50px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* END DIVMIDBODY */

/* DIVBOTTOMBODY */

.divBottomBody {
  position: relative;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #66BFBF;
}

.footer-link {
  color: #11999E;
  padding-left: 20px;
  padding-right: 20px;
}

.copyright {
  color: #EAF6F6;
  margin-top: 50px;
}

/* END DIVBOTTOMBODY */

/* END BODY */
