{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      {{ form.csrf_token }}
      {% if form.csrf_token.errors %}
      <div class="warning">You have submitted an invalid CSRF token</div>
      {% else %}
      {{ wtf.quick_form(form) }}
      {% endif %}

	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
